<?1.0.0?>
<Magic3D>
    <!-- Magic3D Configuration -->
    <TITLE>Magic3D</TITLE>
    <WINDOW_WIDTH>1024</WINDOW_WIDTH>
    <WINDOW_HEIGHT>768</WINDOW_HEIGHT>
    <FULLSCREEN>0</FULLSCREEN>
    <CURSOR>1</CURSOR>
    <VSYNC>1</VSYNC>
    <selected>default</selected>
    <default>
        <FBO_MAP_SIZE>512</FBO_MAP_SIZE>
        <SHADOW_MAP_SIZE>1024</SHADOW_MAP_SIZE>
        <REFLECTION_MAP_SIZE>1024</REFLECTION_MAP_SIZE>
        <BLUR_MAP_SIZE>256</BLUR_MAP_SIZE>
        <GLOW_MAP_SIZE>64</GLOW_MAP_SIZE>
        <SCREEN_FBO_SIZE>2048</SCREEN_FBO_SIZE>
        <SCREEN_VERTICES>64</SCREEN_VERTICES>        
        <SHOW_FPS>1</SHOW_FPS>
        <SHOW_INFORMATION>0</SHOW_INFORMATION>
        <SHOW_COORDINATES>0</SHOW_COORDINATES>
        <SHADOWS>1</SHADOWS>
        <SOFT_SHADOWS>0</SOFT_SHADOWS>
        <REFLECTIONS>1</REFLECTIONS>
        <GLOW>1</GLOW>
        <STEREOSCOPY>0</STEREOSCOPY>
    </default>
    <CONSOLE>0</CONSOLE>
    <SERVER>1</SERVER>
    <ADDRESS>null</ADDRESS>
    <PORT>31234</PORT>
    <CLIENTS>64</CLIENTS>
</Magic3D>
